{% extends "groups/group_base.html" %}
{% load static %}

{% block pregroup %}

{# Group column on left, displays name of group, member count, and leave button #}
<div class='col-md-4'>
	<div class='card'>
		<div class='card-header'>
			<h4>{{group.name}}</h4>
		</div>
		<div class='card-body'>
			<p> Member Count: {{group.members.count}}</p>
			{% if user in group.members.all %}
				<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-md btn-fill btn-warning">Leave</a>
			{% else %}
				<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-md btn-fill btn-warning"> Join</a>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
{% block group_content %}

{# If there are no posts in the group #}
{% if group.posts.count == 0 %}
<div class="col-md-8">
	<div class='card'>
		<div class='card-header'>
			<h4>No posts in this group yet!</h4>
		</div>
	</div>	
</div>	

{# Display the posts #}
{% else %}

<div class='col-md-8'>
	{% for post in group.posts.all %}	
	<div class='card'>
		<div class='card-header'>
			<h4>
				<img class="avatar" src="{{ post.user.portrait.image.url }}" >
				<a href="{% url 'posts:for_user' username=post.user.username %}">
					@{{ post.user.username }}
				</a>
			</h4>	
		</div>
		<div class='card-body'>
			<p>{{ post.message_html|safe }}</p>
			{% if user.is_authenticated and post.user == user and not hide_delete %}
			<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-danger btn-md">Delete</a>
		{% endif %}
		</div>	

	<div class='card-footer'>
		<p><time class="time">
			<a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
			{{ post.created_at }}
			</a>
			</time
			{% if post.group %}
			in <a>{{ post.group.name }}</a>
			{% endif %}
		</p>	
	</div>
	{% endfor %}
</div>

{% endif %}

{% endblock %}
