{% extends "base.html" %}
{% block content %}




        <div class='col-md-8'>
         
                
                    <h4>Welcome to the PawlakTech social-media site</h4>
              
               
                    <p>This is a practice project to display my knowledge of Django.
                    I will continue to develop this project and add built in functionality. </p>


        
                    <h4>Things to work on next</h4>
    

                <ul>
                    <li style='text-decoration: line-through'>User profile pictures(update)</li>
                    <li>Make groups user is in appear bellow their name on their progfile page</li>
                    <li>Make members appear in modal when you click on member count</li>
                    <li>News feed(make posts show up on index page)</li>

                </ul>
   
   <div>





{% endblock %}
