{% extends "posts/post_base.html" %}

{% block prepost %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/portrait.css'%}">
</head>

<div class="col-md-4">
	<div class="card">
		<div class="card-header">
			<h1 id='username-portrait'>{{ post_user.username }}</h1>	
		</div>
			
		<img class="rounded-circle account-img" 
				src="{{ post_user.portrait.image.url }}" 
				id='portrait-img' />
	</div>
</div>

{% endblock %}

{% block post_content %}
<div class="col-md-8">
	{% for post in post_list %}
		{% include "posts/_post.html" %}
	{% endfor %}
</div>
{% endblock %}
