{% extends "posts/post_base.html" %}

{% block prepost %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/portrait.css'%}">
</head>

<div class="col-md-4">
	<div class="card">
		<div class="card-header">
			<h1 id='username-portrait'>{{ post_user.username }}</h1>	
		</div>
			
		<img class="rounded-circle account-img" 
				src="{{ post_user.portrait.image.url }}" 
				id='portrait-img' />

		{% if user == post_user %}
		<a class="btn btn-secondary btn-sm" href="{% url 'portrait:portrait_update' %}">Update Pic</a>
		{% endif %}


	</div>
</div>

{% endblock %}

{% block post_content %}
<div class="col-md-8">
	{% for post in post_list %}
	<div class='card'>
		<div class='card-header'>
			<h4>
				<img class="avatar" src="{{ post.user.portrait.image.url }}" >
				<a href="{% url 'posts:for_user' username=post.user.username %}">
					@{{ post.user.username }}
				</a>
			</h4>	
		</div>
		<div class='card-body'>
			<p>{{ post.message_html|safe }}</p>
			{% if user.is_authenticated and post.user == user and not hide_delete %}
			<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-danger btn-md">Delete</a>
		{% endif %}
		</div>	

	<div class='card-footer'>
		<p><time class="time">
			<a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
			{{ post.created_at }}
			</a>
		</time>
			{% if post.group %}
			in <a>{{ post.group.name }}</a>
			{% endif %}
		</p>	
	</div>

</div>
		


	{% endfor %}
</div>
{% endblock %}
